:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  border-style: solid;
  height: 700px;
  width: 700px;
  margin: auto;
  gap:0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  text-align: center;
}

.draw {
  border: 1px solid #ddd;
  background-color: grey;
}

body {
  background-image:url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.center {
  text-align: center;
  margin: auto;
}

button {
  padding: 15px 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.25rem;
  font-weight: 1000;
  color: #393e49;
  background-color: transparent;
  border: 3px solid black;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;
}

h1 {
  font-weight: 1000;
  font-size: 2 rem;
}
